:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
    
}
*
*::before
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color:  var(--Light-Gray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Karla", sans-serif;

}
main {
    width: 800px;
    box-shadow: 0 0 20px rgb(142, 174, 196);
    border-radius: 10px;
    
}
.div-1 {
    background-color: white;
    padding: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}
h2 {
    color: var(--Cyan);
    font-weight: 700;
}
.green-text {
    color: var(--Bright-Yellow);
    font-weight: 700;
    font-size: 1.3rem;
    
}
.gray-text {
    color: var(--Grayish-Blue);
    font-weight: 400;
    
}
.div-wrapper {
    display: flex;
    flex-direction: row;
}
.div-2,
.div-3 {
    width: 50%;
    padding: 50px;
    background-color: var(--Cyan);
}
.div-2 {
    border-bottom-left-radius: 10px;

}
.div-3 {
    border-bottom-right-radius: 10px;
}
h3 {
    color: var(--Light-Gray);
    font-weight: 700;
}
.bold-text {
    font-weight: 700;
    color: var(--Light-Gray);
    font-size: 2rem;
    margin-right: 10px;
}
.cyan-text {
    color: var(--Light-Gray);
    
}
article {
    color: var(--Light-Gray);
    line-height: 1.8rem;
    font-size: 16px;
}
button {
    width: 100%;
    background-color: var(--Bright-Yellow);
    border: none;
    color: var(--Light-Gray);
    padding: 15px 20px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgb(108, 154, 185);
}
button:hover {
    cursor: pointer;
    color: var(--Grayish-Blue);
}
.attribution { 
    font-size: 11px; 
    text-align: center;
    color: var(--Grayish-Blue);
    margin-top: 3rem;
 }
.attribution a { 
    text-decoration: none;
    color: var(--Grayish-Blue)
}
.attribution a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    main {
        width: 400px;
    }
    .div-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid black;
    }
    .div-3 {
        border: 1px solid black;
        width: 100%;
    }
    .div-2 {
        border: 1px solid black;
    }
}